@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --color-primary: #4CAF4F;
    --color-secondary: #263238;

    --color-white: #fff;
    --color-gray: #f1f1f1;
    --color-text-gray: #4D4D4D;

    --footer-text-color: #F5F7FA;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}


/* nav */
.nav {
    width: 100%;
    height: 8rem;
    background-color: var(--color-white);
}

.nav_container {
    /*Jodi container er width shared style a na ditam to ekhane bole ditam je 80vw*/
    /* container er 80vw pailo jeta container er width */
    width: 100%;
    /* Height 8rem jeta er parent nav theke asce karon containr er kono height amra set kori nai just width 80vw set kora hoyecilo*/
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-size: 2.8rem;
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 600;
}

.nav_list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0rem 1.5rem;
}

.nav_link {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.6rem;
}

.nav_btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: .5rem;
    letter-spacing: 1.2px;
}


/* Hero Header */


.banner {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--color-gray);
}

.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_container_wraper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_text {
    width: 65%;
}

.header_img {
    width: 35%;
}

.header_title {
    font-size: 7.5rem;
    font-weight: 500;
    color: var(--color-secondary);
    line-height: 8rem;
}

.header_title>span {
    color: var(--color-primary);
}

.header_description {
    color: var(--color-secondary);
    margin: 1rem 0rem;
}

.header_btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    /* Tahole margin ke somman korbe and allow korbe amra jani inline element top and bottom er magin ney na, jehetu button ta <a> tag , thats mean inline element. Upore <p> tag a deya margin bottom se nibe na jotokhon na <a> take display inline block kora hobe */
    display: inline-block;
    letter-spacing: 1.2px;
}

/* Section */

.section {
    padding-top: 10rem;
}

.clients_container {
    text-align: center;
}

.section_header {
    margin-bottom: 2rem;
}

.section_title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.section_text {
    font-style: 2rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.clients_wraper {
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    gap: 1rem;
}


/* Service */

.services_container {
    text-align: center;
}

.services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.service {
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.40);
    padding: 2rem .5rem;
}

.service_title {
    color: var(--color-text-gray);
    font-size: 2.8rem;
}

.service_text {
    font-size: 1.4rem;
    color: var(--color-secondary);
}

/* Experience */

.experience_container {
    width: 100%;
    display: flex;
    align-items: center;
}

.experience_img {
    width: 40%;
}

.experience_text {
    width: 60%;
    margin-left: 3rem;
}

.experience_title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 7rem;
}

.experience_description {
    font-size: 1.4rem;
    font-weight: 400;
    margin: .8rem 0rem;
}

.experience_btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    display: inline-block;
    letter-spacing: 1.2px;
}



/* help */

.help {
    padding: 7rem 0rem;
    background-color: var(--color-gray);
}

.help_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.help_heading {
    width: 45%;
}


.help_title {
    font-size: 3.5em;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 8rem;
}

.help_title>span {
    color: var(--color-primary);
}

.help_text {
    color: var(--color-secondary);
}

.help_content {
    width: 55%;
    margin-left: 4rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.help_item {
    display: flex;
    align-items: center;
}

.help_item_text {
    margin-left: 1.5rem;
    color: var(--color-secondary);
}

.help_item_title {
    color: var(--color-secondary);
    font-style: 2.5rem;
}

/* testimonial */

.testimonial {
    background-color: var(--color-gray);
    padding: 5rem 0rem;
}

.testimonial_containner {
    width: 100%;
    display: flex;
    align-items: center;
}

.test_img {
    width: 40%;
}

.test_content {
    width: 60%;
}

.test_p {
    color: var(--color-secondary);
    font-size: 1.6rem;
}

.test_name {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.test_designation {
    color: var(--color-secondary);
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.test_logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test_link {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 600;
}

/* Blog */

.blog_container {
    width: 100%;
    text-align: center;
}

.blogs {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.blog_items {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
}

.blog_body {
    /* border: 1px solid fuchsia; */
    width: 65%;
    margin: 0rem auto;
    color: var(--color-secondary);
    background-color: #F5F7FA;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.40);
    padding: 1.3rem 1.5rem;
    border-radius: .8rem;
    position: absolute;
    left: 8.5rem;
    bottom: -5rem;
}

.blog_title {
    font-size: 2rem;
    color: var(--color-text-gray);
    font-weight: 600;
    line-height: 2.8rem;
    margin-bottom: 2.5rem;
}

.blog_link {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 500;
}

/* demo */

.demo {
    background-color: var(--color-gray);
}

.demo_container {
    text-align: center;
    padding: 5rem 0rem;
}

.demo_title {
    font-size: 6.5rem;
    font-weight: 500;
    color: var(--color-secondary);
    line-height: 8rem;
    margin-bottom: 3rem;
}

.demo_btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    display: inline-block;
    letter-spacing: 1.2px;
}

/* footer */

.footer {
    background-color: var(--color-secondary);
    padding: 7rem 0rem;
}

.footer_logo {
    font-size: 2.8rem;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    display: inline-block;
    margin-bottom: 3.5rem;
}

.footer_copy {
    color: var(--footer-text-color);
}

.footer_copy_one {
    margin-bottom: .5rem;
}

.footer_social_links_container {
    margin-top: 3.5rem;
}

.footer_continer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.footer_items_title {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    color: var(--footer-text-color);
    font-weight: 600;
}

.footer_social_link {
    margin-right: 1.5rem;
}

.footer_item_name {
    color: var(--footer-text-color);
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.footer_items {
    width: 100%;
    position: relative;
}

.footer_items a {
    text-decoration: none;
}

.footer_email_input {
    width: 80%;
    border-radius: 8px;
    background: var(--color-white);
    opacity: .6;
    border: none;
    padding: 1.2rem 1.5rem;
    color: black;
}

.footer_email_input:focus {
    outline: .3rem solid var(--color-primary);
}

input::placeholder {
    color: #0f0f0f;
    letter-spacing: .1rem;
}

.email_send {
    position: absolute;
    right: 9rem;
    top: 6.5rem;
}